.container{
    display: flex;
    flex-direction: column;
}

.container div {
    width: 100%;
    border: 1px solid black;
    text-align: center;
}

.number_container {
    padding: 50px;
    font-size: 40px;
}
